<!DOCTYPE html>
<html>
<head>
  <title>Vue School Firebase Authentication</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="https://www.gstatic.com/firebasejs/5.7.2/firebase.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<div id="app" class="container">
  <h1>Vue School Firebase Authentication</h1>
  <div v-if="authUser">
    <h2>Signed in as {{authUser.email}}
    </h2>
  </div>
  <div v-else >
    <form @submit.prevent="register">
      <input type="email" v-model="email" placeholder="Type your email">
      <input type="password" v-model="password" placeholder="Pick your password">
      <button>Submit</button>
    </form>
  </div>
  
</div>

<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAjgtHlUfXUPeIV5d2ra5nNbBliTd_Ngck",
    authDomain: "vue-school-auth-f2ce3.firebaseapp.com",
    databaseURL: "https://vue-school-auth-f2ce3.firebaseio.com",
    projectId: "vue-school-auth-f2ce3",
    storageBucket: "vue-school-auth-f2ce3.appspot.com",
    messagingSenderId: "105642103293"
  };
  firebase.initializeApp(config);


  const database = firebase.database();
  const messagesRef = database.ref('messages');
 

  new Vue({
    el: "#app",
    data: {
       email:'',
       password:'',
       authUser:null,
    },

    created(){
     
    },
    methods: {
      register(){
        firebase.auth().createUserWithEmailAndPassword(this.email,this.password);
      }
    }
  })

  firebase.auth().onAuthStateChanged(user => { this.authUser = user })
</script>
</body>
</html>